body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #f9c5d1, #fccde2);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #6b004c;
  margin-bottom: 40px;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#yesBtn {
  background-color: #f06292;
  color: white;
}

#noBtn {
  background-color: #ce93d8;
  color: white;
}
